.a{
    color: blue;
    background-color:black ;
}
#b{
    color: yellow;
    background-color: black;
}
.c{
    color: green;
    background-color:black ;
}
.p{
    color: pink;
    background-color:black ;
}
#d{
    color: orangered;
    background-color: black;
}
.e{
    color: aqua;
    background-color: black;
}
#f{
    color:green ;
    background-color:black ;
}
.g{
    color:pink ;
    background-color:black ;
}
#h{
    color:blue ;
    background-color:black ;
}
.i{
    color: yellow;
    background-color:black ;
}
#j{
    color: orangered;
    background-color: black;
}
.k{
    color: aqua;
    background-color:black ;
}
#l{
    color: green ;
    background-color: black;
}
.m{
    color:hotpink ;
    background-color: black;
}
#n{
    color: rebeccapurple;
    background-color: black;
}
.o{
    color: navy;
    background-color:black ;
}
.b{
    color: aqua;
    background-color: black;
}
ins{
    color: brown;
    background-color: black;
}
#c{
    color: blueviolet;
    background-color: grey;
}
.d{
    color: green;
    background-color: black;
}
p{
    color: aqua;
}
#e{
    color: white;
    background-color: black;
}
.f{
    color: blueviolet;
    background-color:aqua;
}
